@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  transition: .5s;
  font-family: 'Oswald', sans-serif;
}

button{
  border: none;
}

input{
  outline: none;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

@import "header";
@import "footer";
@import "news";
@import "newsList";
@import "login";
@import "addArticle";
@import "article";